@page "/Audio"
<h3>Audio</h3>

@code
{
    bool hidden = true;
}

<div class="card">
    <div class="card-header">
        <button @onclick="@(()=>hidden=!hidden)">@(hidden ? "Play" : "Stop")</button>

    </div>
    <div class="card-body">
        @if (!hidden)
        {
            <audio autoplay controls><source src="/crooner2.mp3" /></audio>
        }
        else
        {
            <audio controls muted><source src="/crooner2.mp3" /></audio>
        }
    </div>
</div>