@page "/Image"
@using FileDataService.Abstraction
@inject IFileDataService FileDataService

<h3>Upload PNG images</h3>

<p>
    <InputFile OnChange="@OnInputFileChange" multiple />
</p>

@code {
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        await FileDataService.SaveImageAsync(e.File.OpenReadStream(), e.File.ContentType);
    }
}